.cart-header {
  width: 60%;
  margin-left: 5rem;
  display: flex;
  margin-bottom: 2rem;
  margin-top: 6rem;
  border-bottom: 1px solid #3aa39f;
}

.cart-header h2 {
  font-weight: 700;
  font-size: 2rem;
}

.cart-header h3 {
  margin-left: 1rem;
  padding-top: 0.6rem;
  font-size: 1rem;
  color: #3aa39f;
  opacity: 0.8;
  font-weight: 600;
}

.cart-section {
  display: flex;
}

/* MEDIA QUERY =>>>>>>> */

@media (max-width: 950px) {
  .cart-header {
    width: 50%;
    margin-bottom: 0rem;
  }
}

@media (max-width: 628px) {
  .cart-header {
    margin-top: 9rem;
    margin-left: 2rem;
    margin-bottom: 0;
  }
  .cart-section {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
}
