.address-cont {
  margin-top: 6rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
  width: 60%;
  max-width: 70%;
}

.address-h2 {
  margin-bottom: 2rem;
}

@media (max-width: 800px) {
  .address-cont {
    width: 50%;
  }
}
@media (max-width: 629px) {
  .address-cont {
    margin: 8rem auto;
    width: 90%;
  }
}
